**Техническое задание на создание дашборда по продажам для компании “Bolid.Team”**

**Описание компании**

Группа компаний Bolid Team работает на рынке аттракционов и развлечений с 2002 года. Деятельность компании включает 3 направления: 
производство аттракционов, 
эксплуатация аттракционов,
производство мягких призовых игрушек. 

Сайты по направлению поставки мягкой игрушки (b2b):
https://softprize.ru 
https://мягкий-приз.рф
https://plush.team/

Сайт производственного направления:
https://bolid.team 

**Описание проекта**

Требуется создать дашборд в DataLens, который позволит анализировать продажи услуг аркадных аттракционов - как верхнеуровнево, так и в разрезе объектов и аттракционов.

На данный момент дашборд будет строиться на исторических данных, в дальнейшем планируется подключение к базе данных и обновление информации в режиме реального времени.

Для построения дашборда используется выгрузка информации о чеках и товарных позициях с сайта https://platformaofd.ru/ за 2022 г и январь - август 2023 гг.

Ссылка на данные: https://disk.yandex.ru/d/b9n8qZBGEsUGnA

Ссылка на полное описание данных: Описание  данных для участников проекта. Дашборд для Bolid.Team

Платформа для построения дашборда

Требуется построить дашборд в Yandex.DataLens.

Полезные материалы по работе с DataLens: https://cloud.yandex.ru/docs/datalens/training 

Для передачи кода дашборда заказчику от участников проекта требуется предоставить доступ к исходному коду дашборда, включая доступ к подключениям, датасетам, чартам, которые использовались для разработки и построения дашборда.

Для этого можно сохранить все файлы проекта в отдельной папке, к которой будет предоставлен доступ (редактирование, администрирование) заказчику. Подробнее о правах доступа: https://cloud.yandex.ru/docs/datalens/security/manage-access 

Либо можно вести разработку на экземпляре DataLens в отдельно созданной организации, в которую можно будет добавить участников проекта (заказчика, наставника, ревьюера): https://cloud.yandex.ru/docs/datalens/concepts/organizations
Пользователи дашборда

Основные пользователи - руководители компании. Дашборд будет использоваться для определения прибыльных аттракционов, групп аттракционов и объектов, а также определения сезонных трендов.

**Макет дашборда**

Макет дашборда и навигация по дашборду (одностраничный дашборд, навигация с помощью вкладок, навигация с использованием параметров) - на усмотрение участника. 

Важную информацию и KPI (индикаторы) располагайте сверху, остальные визуализации - по уменьшению степени важности (участник определяет самостоятельно, как скомпоновать метрики).

Добавьте к дашборду название и описание.

К сложным визуализациям можно добавить пояснение о том, как ими пользоваться.
Внизу дашборда добавьте информацию об авторе дашборда и его контакты, а также дату последнего обновления дашборда.

После окончания работы над дашбордом откройте доступ к дашборду через настройку публичного доступа. Если после того, как доступ был открыт, на дашборд были добавлены новые чарты, доступ к ним надо будет предоставить заново.

Основные метрики для построения дашборда
общая выручка (индикатор);
общее количество проданных услуг (индикатор); 
общее количество чеков (индикатор);
среднее количество позиций в чеке (индикатор);
средняя цена проданной услуги (метрика используется вместо метрики среднего чека)  (индикатор);
доля по группам цен (для просмотра, какая доля услуг продается по минимальной цене) (кольцевая диаграмма);
выручка по способу расчета (доля наличных и электронных платежей) (кольцевая диаграмма);
выручка по признаку расчета (доля приходов и возвратов)  (кольцевая диаграмма).


**Дополнительные метрики**

Изменение метрик в динамике:

- выручка (расчет скользящего среднего для прогноза трендов; сравнение выручки с предыдущим периодом) (линейная диаграмма);
- количество проданных услуг, чеков и средняя цена услуги (линейная диаграмма);
- доля по группам цен (нормированная диаграмма).

Метрики средних продаж по часам, дням, неделям, месяцам, годам:
- средняя выручка (индикатор);
- среднее количество проданных услуг (индикатор);
- среднее количество чеков (индикатор);
- средние продажи на объект (индикатор);
- средние продажи на аттракцион (индикатор);
- средние продажи в час, в день недели, в месяц, в квартал, в год (линейная диаграмма).

Показать на графиках отклонение от среднего в абсолютах и в процентах.

Можно добавить на дашборд дополнительные графики (таблицы, иерархии), которые помогут провести анализ продаж, по выбору участника.

**Уровень детализации**
Ключевые показатели - города - объекты - группы аттракционов - аттракционы
Фильтры и срезы данных

**Фильтры:**

Дата;
Город;
Объект;
Группа аттракционов;
Аттракцион

**Срезы:**

Дата (по часам, дням, неделям, месяцам, годам);
Город;
Объект;
Группа аттракционов;
Аттракцион.

**Критерии оценки проекта**

Корректность расчетов и показателей

Соответствие требованиям ТЗ

Удобство в использовании дашборда

Описание  данных для построения дашборда Bolid.Team
Ссылка на данные: https://disk.yandex.ru/d/b9n8qZBGEsUGnA 

**Файл items.csv**

Файл содержит информацию о товарных позициях в чеках за период с 1 января 2022 г. по 21 августа 2023 г.

`ФП` - фискальный признак документа — контрольная величина, подтверждающая правильность введенных данных. Вместе с номером документа и номером смены может использоваться как уникальный идентификатор транзакции;

`Номер документа` - номер по порядку фискального документа;

`Дата/время` - дата и время формирования документа (чека);

`Номер смены` - номер смены (по данным кассы), в которую был сформирован документ;

`Наименование` - название товарной позиции в чеке;

`Итого по чеку` - общая сумма по чеку в рублях;

`Наличными по чеку` - сумма наличными по чеку в рублях;

`Электронными по чеку` - сумма наличными по чеку в рублях;

`Цена товара` - цена товарной позиции в рублях;

`Количество единиц измерения в чеке` - количество товара в товарной позиции;

`Номер товара в чеке` - порядковый номер товара в чеке;

`Сумма товара` - общая стоимость товара в товарной позиции в рублях. Результат умножения значений параметров «Цена товара» и «Количество единиц измерения в чеке» должно быть равно значению параметра «Сумма товара»;

`Название игры` - столбец сформирован из данных столбца Наименование, содержит название и ценовую категорию аттракциона;

`Группа игры` - категория аттракциона.



**Файл checks.csv**



Файл содержит информацию о кассовых чеках за период с 1 января 2022 г. по 21 августа 2023 г.

`Дата/время` - дата и время формирования чека;

`Магазин` - название объекта

`Имя кассы` - название кассы (на одном объекте может быть несколько касс)

`ФП` - фискальный признак документа — контрольная величина, подтверждающая правильность введенных данных. Вместе с номером документа и номером смены может использоваться как уникальный идентификатор транзакции;

`Номер документа` - номер по порядку фискального документа;

`Номер смены` - номер смены (по данным кассы), в которую был сформирован чек;

`Номер чека за смену` - порядковый номер чека в смене (по данным кассы);

`Признак расчета` - тип операции: приход, расход, возврат прихода, возврат расхода;

`Наличными` - сумма наличными по чеку в рублях;

`Электронными` - сумма наличными по чеку в рублях; 

`Итого` - общая сумма по чеку в рублях;

`Статус` - статус кассы (Используется / Не используется);

`Город` - город, в котором расположен объект.

In [1]:
#импортируем бибилиотеки
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

import seaborn as sns
import re

import plotly.express as px

from plotly import graph_objects as go

from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

import datetime as dt
from datetime import datetime, timedelta
import math
from scipy.stats import  mode

pd.set_option('max_columns', None)
import warnings
warnings.filterwarnings("ignore")

Выгрузим данные и ознакомимся с ними

In [2]:
df_items = pd.read_csv('items.csv',sep=',')

In [3]:
df_checks = pd.read_csv('checks.csv',sep=',')

In [4]:
def inform(df):
    display(df.head()) # вывод первых 5 строк таблицы
    display(df.tail())
    df.info() # получение информации
    print ('Количество дубликатов -', df.duplicated().sum()) # проверка на дубликаты
    print ('Число пропусков -',df.isna().sum())# число пропусков
    display(df.describe()) #описательные статистики
    return df

In [5]:
inform(df_items)

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры
0,786924443,4432,2022-01-01 12:53:00,149,200,0.0,200.0,200,1,1,200,баскетбол,Аркада
1,2551080634,4433,2022-01-01 12:54:00,149,300,0.0,300.0,300,1,1,300,горилла,Аркада
2,3901128080,4434,2022-01-01 13:10:00,149,400,0.0,400.0,400,1,1,400,lucky duck,Беспроигрышный аттракцион
3,3013564293,4435,2022-01-01 13:38:00,149,600,600.0,0.0,600,1,1,600,русский покер,Фасолевый Тир
4,2305593818,4436,2022-01-01 13:41:00,149,600,600.0,0.0,600,1,1,600,охотники go,Аркада

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры
426810,3947212597,15030,2023-09-11 00:01:00,123,500,500.0,0.0,500,1,1,500,банки2,Аркада
426811,3575437487,15031,2023-09-11 00:03:00,123,300,0.0,300.0,300,1,1,300,"тир 3,4",Страйкбольный Тир
426812,2972319335,15032,2023-09-11 00:05:00,123,600,0.0,600.0,600,1,1,600,цвет шарики,Аркада
426813,703497372,15033,2023-09-11 00:08:00,123,300,300.0,0.0,300,1,1,300,хаски,Аркада
426814,1384721583,12804,2023-09-11 00:13:00,97,1000,1000.0,0.0,500,2,1,1000,жетон,Без группы

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426815 entries, 0 to 426814
Data columns (total 13 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   ФП                                  426815 non-null  int64
 1   Номер документа                     426815 non-null  int64
 2   Дата/время                          426815 non-null  object
 3   Номер смены                         426815 non-null  int64
 4   Итого по чеку                       426815 non-null  int64
 5   Наличными по чеку                   426815 non-null  float64
 6   Электронными по чеку                426815 non-null  float64
 7   Цена товара                         426815 non-null  int64
 8   Количество единиц измерения в чеке  426815 non-null  int64
 9   Номер товара в чеке                 426815 non-null  int64
 10  Сумма товара                        426815 non-null  int64
 11  Название игры                       426815 non-null  object
 12  Группа игры                         426815 non-null  object
dtypes: float64(2), int64(8), object(3)
memory usage: 42.3+ MB
Количество дубликатов - 0
Число пропусков - ФП                                    0
Номер документа                       0
Дата/время                            0
Номер смены                           0
Итого по чеку                         0
Наличными по чеку                     0
Электронными по чеку                  0
Цена товара                           0
Количество единиц измерения в чеке    0
Номер товара в чеке                   0
Сумма товара                          0
Название игры                         0
Группа игры                           0
dtype: int64

,ФП,Номер документа,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара
count,4.268150e+05,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000
mean,2.146895e+09,10392.697764,197.464236,475.822546,160.447735,315.374811,399.763598,1.057585,1.050900,422.800511
std,1.239835e+09,8858.366891,161.308005,450.332472,469.243658,289.503558,141.511172,0.329057,0.299374,205.257768
min,5.262000e+03,3.000000,1.000000,200.000000,0.000000,0.000000,200.000000,1.000000,1.000000,200.000000
25%,1.074152e+09,4028.000000,61.000000,300.000000,0.000000,0.000000,300.000000,1.000000,1.000000,300.000000
50%,2.144570e+09,8090.000000,162.000000,400.000000,0.000000,300.000000,400.000000,1.000000,1.000000,400.000000
75%,3.220961e+09,13897.000000,299.000000,600.000000,200.000000,500.000000,500.000000,1.000000,1.000000,500.000000
max,4.294955e+09,45832.000000,856.000000,30300.000000,30300.000000,8000.000000,600.000000,37.000000,13.000000,19200.000000

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры
0,786924443,4432,2022-01-01 12:53:00,149,200,0.0,200.0,200,1,1,200,баскетбол,Аркада
1,2551080634,4433,2022-01-01 12:54:00,149,300,0.0,300.0,300,1,1,300,горилла,Аркада
2,3901128080,4434,2022-01-01 13:10:00,149,400,0.0,400.0,400,1,1,400,lucky duck,Беспроигрышный аттракцион
3,3013564293,4435,2022-01-01 13:38:00,149,600,600.0,0.0,600,1,1,600,русский покер,Фасолевый Тир
4,2305593818,4436,2022-01-01 13:41:00,149,600,600.0,0.0,600,1,1,600,охотники go,Аркада
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426810,3947212597,15030,2023-09-11 00:01:00,123,500,500.0,0.0,500,1,1,500,банки2,Аркада
426811,3575437487,15031,2023-09-11 00:03:00,123,300,0.0,300.0,300,1,1,300,"тир 3,4",Страйкбольный Тир
426812,2972319335,15032,2023-09-11 00:05:00,123,600,0.0,600.0,600,1,1,600,цвет шарики,Аркада
426813,703497372,15033,2023-09-11 00:08:00,123,300,300.0,0.0,300,1,1,300,хаски,Аркада
426814,1384721583,12804,2023-09-11 00:13:00,97,1000,1000.0,0.0,500,2,1,1000,жетон,Без группы

In [6]:
inform(df_checks)

,Дата/время,Магазин,Имя кассы,ФП,Номер документа,Номер смены,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
0,2022-01-01 12:53:00,Тир В Яблочко,К002 Тир В Яблочко,786924443,4432,149,1,Приход,0.0,200.0,200,Используется,Тамбов
1,2022-01-01 12:54:00,Тир В Яблочко,К002 Тир В Яблочко,2551080634,4433,149,2,Приход,0.0,300.0,300,Используется,Тамбов
2,2022-01-01 13:10:00,Тир В Яблочко,К002 Тир В Яблочко,3901128080,4434,149,3,Приход,0.0,400.0,400,Используется,Тамбов
3,2022-01-01 13:38:00,Тир В Яблочко,К002 Тир В Яблочко,3013564293,4435,149,4,Приход,600.0,0.0,600,Используется,Тамбов
4,2022-01-01 13:41:00,Тир В Яблочко,К002 Тир В Яблочко,2305593818,4436,149,5,Приход,600.0,0.0,600,Используется,Тамбов

,Дата/время,Магазин,Имя кассы,ФП,Номер документа,Номер смены,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
409585,2023-09-11 00:01:00,ПкиО Семейный,К001 ПкиО Семейный,3947212597,15030,123,142,Приход,500.0,0.0,500,Используется,Волгоград
409586,2023-09-11 00:03:00,ПкиО Семейный,К001 ПкиО Семейный,3575437487,15031,123,143,Приход,0.0,300.0,300,Используется,Волгоград
409587,2023-09-11 00:05:00,ПкиО Семейный,К001 ПкиО Семейный,2972319335,15032,123,144,Приход,0.0,600.0,600,Используется,Волгоград
409588,2023-09-11 00:08:00,ПкиО Семейный,К001 ПкиО Семейный,703497372,15033,123,145,Приход,300.0,0.0,300,Используется,Волгоград
409589,2023-09-11 00:13:00,ПкиО Семейный,К003 ПкиО Семейный,1384721583,12804,97,234,Приход,1000.0,0.0,1000,Используется,Волгоград

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409590 entries, 0 to 409589
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Дата/время           409590 non-null  object
 1   Магазин              409590 non-null  object
 2   Имя кассы            409590 non-null  object
 3   ФП                   409590 non-null  int64
 4   Номер документа      409590 non-null  int64
 5   Номер смены          409590 non-null  int64
 6   Номер чека за смену  409590 non-null  int64
 7   Признак расчета      409590 non-null  object
 8   Наличными            409590 non-null  float64
 9   Электронными         409590 non-null  float64
 10  Итого                409590 non-null  int64
 11  Статус               409590 non-null  object
 12  Город                409590 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 40.6+ MB
Количество дубликатов - 0
Число пропусков - Дата/время             0
Магазин                0
Имя кассы              0
ФП                     0
Номер документа        0
Номер смены            0
Номер чека за смену    0
Признак расчета        0
Наличными              0
Электронными           0
Итого                  0
Статус                 0
Город                  0
dtype: int64

,ФП,Номер документа,Номер смены,Номер чека за смену,Наличными,Электронными,Итого
count,4.095900e+05,409590.000000,409590.000000,409590.000000,409590.000000,409590.000000,409590.000000
mean,2.146568e+09,10336.747132,197.077016,54.217674,135.893210,304.687859,440.581069
std,1.239983e+09,8838.489360,161.639164,55.598760,292.260375,263.969544,268.860228
min,5.262000e+03,3.000000,1.000000,1.000000,0.000000,0.000000,200.000000
25%,1.073971e+09,3991.000000,61.000000,14.000000,0.000000,0.000000,300.000000
50%,2.144409e+09,8046.000000,162.000000,35.000000,0.000000,300.000000,400.000000
75%,3.221155e+09,13800.000000,299.000000,78.000000,200.000000,500.000000,600.000000
max,4.294955e+09,45832.000000,856.000000,541.000000,30300.000000,8000.000000,30300.000000

,Дата/время,Магазин,Имя кассы,ФП,Номер документа,Номер смены,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
0,2022-01-01 12:53:00,Тир В Яблочко,К002 Тир В Яблочко,786924443,4432,149,1,Приход,0.0,200.0,200,Используется,Тамбов
1,2022-01-01 12:54:00,Тир В Яблочко,К002 Тир В Яблочко,2551080634,4433,149,2,Приход,0.0,300.0,300,Используется,Тамбов
2,2022-01-01 13:10:00,Тир В Яблочко,К002 Тир В Яблочко,3901128080,4434,149,3,Приход,0.0,400.0,400,Используется,Тамбов
3,2022-01-01 13:38:00,Тир В Яблочко,К002 Тир В Яблочко,3013564293,4435,149,4,Приход,600.0,0.0,600,Используется,Тамбов
4,2022-01-01 13:41:00,Тир В Яблочко,К002 Тир В Яблочко,2305593818,4436,149,5,Приход,600.0,0.0,600,Используется,Тамбов
...,...,...,...,...,...,...,...,...,...,...,...,...,...
409585,2023-09-11 00:01:00,ПкиО Семейный,К001 ПкиО Семейный,3947212597,15030,123,142,Приход,500.0,0.0,500,Используется,Волгоград
409586,2023-09-11 00:03:00,ПкиО Семейный,К001 ПкиО Семейный,3575437487,15031,123,143,Приход,0.0,300.0,300,Используется,Волгоград
409587,2023-09-11 00:05:00,ПкиО Семейный,К001 ПкиО Семейный,2972319335,15032,123,144,Приход,0.0,600.0,600,Используется,Волгоград
409588,2023-09-11 00:08:00,ПкиО Семейный,К001 ПкиО Семейный,703497372,15033,123,145,Приход,300.0,0.0,300,Используется,Волгоград
409589,2023-09-11 00:13:00,ПкиО Семейный,К003 ПкиО Семейный,1384721583,12804,97,234,Приход,1000.0,0.0,1000,Используется,Волгоград

In [7]:
df_items['Дата/время'].max()

'2023-09-11 00:13:00'

In [8]:
df_checks['Дата/время'].max()

'2023-09-11 00:13:00'

Пропусков и явных дубликатов нет.Период в данных соответствует заявленному.

Объединим таблицы

In [9]:
df = pd.merge(df_items,df_checks, how='left',left_on=['ФП','Номер документа','Номер смены','Дата/время'],right_on=['ФП','Номер документа','Номер смены','Дата/время'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426815 entries, 0 to 426814
Data columns (total 22 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   ФП                                  426815 non-null  int64
 1   Номер документа                     426815 non-null  int64
 2   Дата/время                          426815 non-null  object
 3   Номер смены                         426815 non-null  int64
 4   Итого по чеку                       426815 non-null  int64
 5   Наличными по чеку                   426815 non-null  float64
 6   Электронными по чеку                426815 non-null  float64
 7   Цена товара                         426815 non-null  int64
 8   Количество единиц измерения в чеке  426815 non-null  int64
 9   Номер товара в чеке                 426815 non-null  int64
 10  Сумма товара                        426815 non-null  int64
 11  Название игры                       426815 non-null  object
 12  Группа игры                         426815 non-null  object
 13  Магазин                             426815 non-null  object
 14  Имя кассы                           426815 non-null  object
 15  Номер чека за смену                 426815 non-null  int64
 16  Признак расчета                     426815 non-null  object
 17  Наличными                           426815 non-null  float64
 18  Электронными                        426815 non-null  float64
 19  Итого                               426815 non-null  int64
 20  Статус                              426815 non-null  object
 21  Город                               426815 non-null  object
dtypes: float64(4), int64(10), object(8)
memory usage: 74.9+ MB

In [11]:
inform(df)

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
0,786924443,4432,2022-01-01 12:53:00,149,200,0.0,200.0,200,1,1,200,баскетбол,Аркада,Тир В Яблочко,К002 Тир В Яблочко,1,Приход,0.0,200.0,200,Используется,Тамбов
1,2551080634,4433,2022-01-01 12:54:00,149,300,0.0,300.0,300,1,1,300,горилла,Аркада,Тир В Яблочко,К002 Тир В Яблочко,2,Приход,0.0,300.0,300,Используется,Тамбов
2,3901128080,4434,2022-01-01 13:10:00,149,400,0.0,400.0,400,1,1,400,lucky duck,Беспроигрышный аттракцион,Тир В Яблочко,К002 Тир В Яблочко,3,Приход,0.0,400.0,400,Используется,Тамбов
3,3013564293,4435,2022-01-01 13:38:00,149,600,600.0,0.0,600,1,1,600,русский покер,Фасолевый Тир,Тир В Яблочко,К002 Тир В Яблочко,4,Приход,600.0,0.0,600,Используется,Тамбов
4,2305593818,4436,2022-01-01 13:41:00,149,600,600.0,0.0,600,1,1,600,охотники go,Аркада,Тир В Яблочко,К002 Тир В Яблочко,5,Приход,600.0,0.0,600,Используется,Тамбов

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
426810,3947212597,15030,2023-09-11 00:01:00,123,500,500.0,0.0,500,1,1,500,банки2,Аркада,ПкиО Семейный,К001 ПкиО Семейный,142,Приход,500.0,0.0,500,Используется,Волгоград
426811,3575437487,15031,2023-09-11 00:03:00,123,300,0.0,300.0,300,1,1,300,"тир 3,4",Страйкбольный Тир,ПкиО Семейный,К001 ПкиО Семейный,143,Приход,0.0,300.0,300,Используется,Волгоград
426812,2972319335,15032,2023-09-11 00:05:00,123,600,0.0,600.0,600,1,1,600,цвет шарики,Аркада,ПкиО Семейный,К001 ПкиО Семейный,144,Приход,0.0,600.0,600,Используется,Волгоград
426813,703497372,15033,2023-09-11 00:08:00,123,300,300.0,0.0,300,1,1,300,хаски,Аркада,ПкиО Семейный,К001 ПкиО Семейный,145,Приход,300.0,0.0,300,Используется,Волгоград
426814,1384721583,12804,2023-09-11 00:13:00,97,1000,1000.0,0.0,500,2,1,1000,жетон,Без группы,ПкиО Семейный,К003 ПкиО Семейный,234,Приход,1000.0,0.0,1000,Используется,Волгоград

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426815 entries, 0 to 426814
Data columns (total 22 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   ФП                                  426815 non-null  int64
 1   Номер документа                     426815 non-null  int64
 2   Дата/время                          426815 non-null  object
 3   Номер смены                         426815 non-null  int64
 4   Итого по чеку                       426815 non-null  int64
 5   Наличными по чеку                   426815 non-null  float64
 6   Электронными по чеку                426815 non-null  float64
 7   Цена товара                         426815 non-null  int64
 8   Количество единиц измерения в чеке  426815 non-null  int64
 9   Номер товара в чеке                 426815 non-null  int64
 10  Сумма товара                        426815 non-null  int64
 11  Название игры                       426815 non-null  object
 12  Группа игры                         426815 non-null  object
 13  Магазин                             426815 non-null  object
 14  Имя кассы                           426815 non-null  object
 15  Номер чека за смену                 426815 non-null  int64
 16  Признак расчета                     426815 non-null  object
 17  Наличными                           426815 non-null  float64
 18  Электронными                        426815 non-null  float64
 19  Итого                               426815 non-null  int64
 20  Статус                              426815 non-null  object
 21  Город                               426815 non-null  object
dtypes: float64(4), int64(10), object(8)
memory usage: 74.9+ MB
Количество дубликатов - 0
Число пропусков - ФП                                    0
Номер документа                       0
Дата/время                            0
Номер смены                           0
Итого по чеку                         0
Наличными по чеку                     0
Электронными по чеку                  0
Цена товара                           0
Количество единиц измерения в чеке    0
Номер товара в чеке                   0
Сумма товара                          0
Название игры                         0
Группа игры                           0
Магазин                               0
Имя кассы                             0
Номер чека за смену                   0
Признак расчета                       0
Наличными                             0
Электронными                          0
Итого                                 0
Статус                                0
Город                                 0
dtype: int64

,ФП,Номер документа,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Номер чека за смену,Наличными,Электронными,Итого
count,4.268150e+05,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000,426815.000000
mean,2.146895e+09,10392.697764,197.464236,475.822546,160.447735,315.374811,399.763598,1.057585,1.050900,422.800511,54.323313,160.447735,315.374811,475.822546
std,1.239835e+09,8858.366891,161.308005,450.332472,469.243658,289.503558,141.511172,0.329057,0.299374,205.257768,55.694655,469.243658,289.503558,450.332472
min,5.262000e+03,3.000000,1.000000,200.000000,0.000000,0.000000,200.000000,1.000000,1.000000,200.000000,1.000000,0.000000,0.000000,200.000000
25%,1.074152e+09,4028.000000,61.000000,300.000000,0.000000,0.000000,300.000000,1.000000,1.000000,300.000000,14.000000,0.000000,0.000000,300.000000
50%,2.144570e+09,8090.000000,162.000000,400.000000,0.000000,300.000000,400.000000,1.000000,1.000000,400.000000,35.000000,0.000000,300.000000,400.000000
75%,3.220961e+09,13897.000000,299.000000,600.000000,200.000000,500.000000,500.000000,1.000000,1.000000,500.000000,78.000000,200.000000,500.000000,600.000000
max,4.294955e+09,45832.000000,856.000000,30300.000000,30300.000000,8000.000000,600.000000,37.000000,13.000000,19200.000000,541.000000,30300.000000,8000.000000,30300.000000

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
0,786924443,4432,2022-01-01 12:53:00,149,200,0.0,200.0,200,1,1,200,баскетбол,Аркада,Тир В Яблочко,К002 Тир В Яблочко,1,Приход,0.0,200.0,200,Используется,Тамбов
1,2551080634,4433,2022-01-01 12:54:00,149,300,0.0,300.0,300,1,1,300,горилла,Аркада,Тир В Яблочко,К002 Тир В Яблочко,2,Приход,0.0,300.0,300,Используется,Тамбов
2,3901128080,4434,2022-01-01 13:10:00,149,400,0.0,400.0,400,1,1,400,lucky duck,Беспроигрышный аттракцион,Тир В Яблочко,К002 Тир В Яблочко,3,Приход,0.0,400.0,400,Используется,Тамбов
3,3013564293,4435,2022-01-01 13:38:00,149,600,600.0,0.0,600,1,1,600,русский покер,Фасолевый Тир,Тир В Яблочко,К002 Тир В Яблочко,4,Приход,600.0,0.0,600,Используется,Тамбов
4,2305593818,4436,2022-01-01 13:41:00,149,600,600.0,0.0,600,1,1,600,охотники go,Аркада,Тир В Яблочко,К002 Тир В Яблочко,5,Приход,600.0,0.0,600,Используется,Тамбов
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426810,3947212597,15030,2023-09-11 00:01:00,123,500,500.0,0.0,500,1,1,500,банки2,Аркада,ПкиО Семейный,К001 ПкиО Семейный,142,Приход,500.0,0.0,500,Используется,Волгоград
426811,3575437487,15031,2023-09-11 00:03:00,123,300,0.0,300.0,300,1,1,300,"тир 3,4",Страйкбольный Тир,ПкиО Семейный,К001 ПкиО Семейный,143,Приход,0.0,300.0,300,Используется,Волгоград
426812,2972319335,15032,2023-09-11 00:05:00,123,600,0.0,600.0,600,1,1,600,цвет шарики,Аркада,ПкиО Семейный,К001 ПкиО Семейный,144,Приход,0.0,600.0,600,Используется,Волгоград
426813,703497372,15033,2023-09-11 00:08:00,123,300,300.0,0.0,300,1,1,300,хаски,Аркада,ПкиО Семейный,К001 ПкиО Семейный,145,Приход,300.0,0.0,300,Используется,Волгоград
426814,1384721583,12804,2023-09-11 00:13:00,97,1000,1000.0,0.0,500,2,1,1000,жетон,Без группы,ПкиО Семейный,К003 ПкиО Семейный,234,Приход,1000.0,0.0,1000,Используется,Волгоград

Проверим правильность объединения.

In [12]:
df['ФП'].nunique()

409570

ФП - фискальный признак документа — контрольная величина, подтверждающая правильность введенных данных. Вместе с номером документа и номером смены может использоваться как уникальный идентификатор транзакции;

In [13]:
df[['ФП','Номер смены','Номер документа']].nunique()

ФП                 409570
Номер смены           856
Номер документа     45681
dtype: int64

In [14]:
(df['ФП'].astype(str) + '-' + df['Номер смены'].astype(str)+ '-' + df['Номер документа'].astype(str)).nunique()

409590

In [15]:
df['Признак расчета'].value_counts()

Приход             426600
Возврат прихода       215
Name: Признак расчета, dtype: int64

Все хорошо.Число строк в объединенной таблице соответствует числу строк таблицы с числом товарных позиций, а число уникальных чековых операций- числу строк в таблице чеков.

Посмотрим на возвраты

In [16]:
df1 =df[df['Признак расчета']=='Возврат прихода']
df1

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
9334,258877504,2634,2022-02-23 12:52:00,124,600,600.0,0.0,600,1,1,600,ак-47,Страйкбольный Тир,Тир Ковбой,К002 Тир Ковбой,18,Возврат прихода,600.0,0.0,600,Используется,Липецк
16591,3270815553,3820,2022-04-10 14:57:00,170,400,400.0,0.0,400,1,1,400,кубики win,Аркада,Тир Ковбой,К002 Тир Ковбой,9,Возврат прихода,400.0,0.0,400,Используется,Липецк
18210,759946169,4,2022-04-22 14:56:00,1,200,0.0,200.0,200,1,1,200,тарелочки,Аркада,ПкиО Три Тополя,К001 ПкиО Три Тополя,2,Возврат прихода,0.0,200.0,200,Используется,Ейск
19673,1254753480,403,2022-04-30 16:05:00,9,600,0.0,600.0,600,1,1,600,тир,Страйкбольный Тир,ПкиО Лаванда,К001 ПкиО Лаванда,24,Возврат прихода,0.0,600.0,600,Используется,Таганрог
21845,150861260,118,2022-05-04 15:34:00,6,600,600.0,0.0,600,1,1,600,лопни шарик 2,Аркада,ПкиО Простор,К002 ПкиО Простор,5,Возврат прихода,600.0,0.0,600,Используется,Воронеж
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421147,3809612299,11761,2023-09-07 12:34:00,196,200,200.0,0.0,200,1,1,200,охотники,Аркада,ПкиО Бриз,К001 ПкиО Бриз,2,Возврат прихода,200.0,0.0,200,Используется,Новороссийск
422374,134407795,14664,2023-09-08 19:51:00,121,200,200.0,0.0,200,1,1,200,охотники,Аркада,ПкиО Семейный,К001 ПкиО Семейный,45,Возврат прихода,200.0,0.0,200,Используется,Волгоград
423238,329741017,14776,2023-09-09 15:02:00,122,200,0.0,200.0,200,1,1,200,тир 3,Страйкбольный Тир,ПкиО Семейный,К001 ПкиО Семейный,52,Возврат прихода,0.0,200.0,200,Используется,Волгоград
424765,4050445715,45724,2023-09-10 10:45:00,398,300,0.0,300.0,300,1,1,300,цвет шарики,Аркада,ПкиО Ромашка,К002 ПкиО Ромашка,11,Возврат прихода,0.0,300.0,300,Используется,Краснодар
425930,1957080152,16611,2023-09-10 17:26:00,856,500,500.0,0.0,500,1,1,500,ак-47,Страйкбольный Тир,ТЦ Самолет,К002 ТЦ Самолет,29,Возврат прихода,500.0,0.0,500,Используется,Воронеж

In [17]:
df.loc[(df.Магазин=='Тир Ковбой') & (df.Город == 'Липецк')& (df['Номер смены'] == 124)&  (df['Название игры'] == 'калаши (200)')]

Empty DataFrame
Columns: [ФП, Номер документа, Дата/время, Номер смены, Итого по чеку, Наличными по чеку, Электронными по чеку, Цена товара, Количество единиц измерения в чеке, Номер товара в чеке, Сумма товара, Название игры, Группа игры, Магазин, Имя кассы, Номер чека за смену, Признак расчета, Наличными, Электронными, Итого, Статус, Город]
Index: []

Есть 204 записи с возвратами, но при этом сумма в столбце `Сумма товара` включает суммы возвратов.так как сложно определить какие точно из приходов имели возврат, помножим эти значения на -1

In [18]:
df['Сумма товара'] = np.where((df['Признак расчета'] =='Возврат прихода'),df['Сумма товара']*(-1), df['Сумма товара'])

In [19]:
df_v= df[df['Признак расчета']=='Возврат прихода']
df_v

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город
9334,258877504,2634,2022-02-23 12:52:00,124,600,600.0,0.0,600,1,1,-600,ак-47,Страйкбольный Тир,Тир Ковбой,К002 Тир Ковбой,18,Возврат прихода,600.0,0.0,600,Используется,Липецк
16591,3270815553,3820,2022-04-10 14:57:00,170,400,400.0,0.0,400,1,1,-400,кубики win,Аркада,Тир Ковбой,К002 Тир Ковбой,9,Возврат прихода,400.0,0.0,400,Используется,Липецк
18210,759946169,4,2022-04-22 14:56:00,1,200,0.0,200.0,200,1,1,-200,тарелочки,Аркада,ПкиО Три Тополя,К001 ПкиО Три Тополя,2,Возврат прихода,0.0,200.0,200,Используется,Ейск
19673,1254753480,403,2022-04-30 16:05:00,9,600,0.0,600.0,600,1,1,-600,тир,Страйкбольный Тир,ПкиО Лаванда,К001 ПкиО Лаванда,24,Возврат прихода,0.0,600.0,600,Используется,Таганрог
21845,150861260,118,2022-05-04 15:34:00,6,600,600.0,0.0,600,1,1,-600,лопни шарик 2,Аркада,ПкиО Простор,К002 ПкиО Простор,5,Возврат прихода,600.0,0.0,600,Используется,Воронеж
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421147,3809612299,11761,2023-09-07 12:34:00,196,200,200.0,0.0,200,1,1,-200,охотники,Аркада,ПкиО Бриз,К001 ПкиО Бриз,2,Возврат прихода,200.0,0.0,200,Используется,Новороссийск
422374,134407795,14664,2023-09-08 19:51:00,121,200,200.0,0.0,200,1,1,-200,охотники,Аркада,ПкиО Семейный,К001 ПкиО Семейный,45,Возврат прихода,200.0,0.0,200,Используется,Волгоград
423238,329741017,14776,2023-09-09 15:02:00,122,200,0.0,200.0,200,1,1,-200,тир 3,Страйкбольный Тир,ПкиО Семейный,К001 ПкиО Семейный,52,Возврат прихода,0.0,200.0,200,Используется,Волгоград
424765,4050445715,45724,2023-09-10 10:45:00,398,300,0.0,300.0,300,1,1,-300,цвет шарики,Аркада,ПкиО Ромашка,К002 ПкиО Ромашка,11,Возврат прихода,0.0,300.0,300,Используется,Краснодар
425930,1957080152,16611,2023-09-10 17:26:00,856,500,500.0,0.0,500,1,1,-500,ак-47,Страйкбольный Тир,ТЦ Самолет,К002 ТЦ Самолет,29,Возврат прихода,500.0,0.0,500,Используется,Воронеж

In [20]:
df_v['Количество единиц измерения в чеке'].sum()

231

In [21]:
df_v['ФП'].nunique()

209

In [22]:
df_checks['ФП'].nunique()

409570

Посмотрим на уникальность названий игр.И исправим возможные ошибки в описании.А также объединим в отдельном столбце игры по типу игры

In [23]:
df['Название игры'].unique()

array(['баскетбол', 'горилла', 'lucky duck', 'русский покер',
       'охотники go', 'шутинг гелери 3,4', 'банки', 'охотники',
       'цвет шарики', 'lacky shark', 'тарелочки', 'тир 2', 'вбидонь',
       'лопни шарик 3', 'тарелки', 'уточки', 'краски', 'золотая уточка',
       'shooting galler 3,4', 'лопни шарик 2', 'тир', 'пневмопушки',
       'яблочки', 'стрелок', 'ак-47', 'хаски', 'рыбалочка', 'бананоед',
       'яблочки 2', 'банки2', 'лопни шарик', 'калаши', 'банки 2',
       'тир 3,4', 'тир 3', 'снайпер', 'shooting galler 1,2', 'футбол',
       'пушки', 'гидротир', 'жетон', 'качалки', 'кубики win',
       'шутинг гелери 1,2', 'тир 1,2', 'народный тир', 'охотники гоу',
       'дерби', 'кубики', 'спайпер', 'пневмотический тир', 'комплексная',
       'охотники 2'], dtype=object)

"Ответ заказчика:
- стрелок и снайпер - НЕ дубликаты
- шутинг и shooting - разные названия одинаковых аттракционов
- пневмотический и пневмопушки - НЕ дубликаты
- тарелки и тарелочки - разные названия одинаковых аттракционов
- пушки и пневмопушки - разные названия одинаковых аттракционов
- калаши и ак - НЕ дубликаты"

lucky duck

df3 = df[df['Название игры']=='lucky duck']
df3

df3['Цена товара'].value_counts()

краски

df4 = df[df['Название игры']=='краски']
df4

In [24]:
df['Название игры'] = df['Название игры'].str.replace('shooting galler', 'шутинг гелери', regex=True)
df['Название игры'] = df['Название игры'].str.replace('пневмопушки','пушки', regex=True)
df['Название игры'] = df['Название игры'].str.replace('тарелки', 'тарелочки', regex=True)
df['Название игры'] = df['Название игры'].str.replace('go', 'гоу', regex=True)

dict_1 = {'краски':'краски (300)', 'lucky duck': 'lucky duck (300)','лопни шарик 2 (200':'лопни шарик 2 (200)','( жетон 100)':'жетон','( жетон 200)':'жетон'}

df['Название игры'] = df['Название игры'].replace(dict_1)
df['Название игры'].unique()

In [25]:
df['Название игры'].nunique()

48

In [26]:
df['Название игры'].unique()

array(['баскетбол', 'горилла', 'lucky duck', 'русский покер',
       'охотники гоу', 'шутинг гелери 3,4', 'банки', 'охотники',
       'цвет шарики', 'lacky shark', 'тарелочки', 'тир 2', 'вбидонь',
       'лопни шарик 3', 'уточки', 'краски', 'золотая уточка',
       'лопни шарик 2', 'тир', 'пушки', 'яблочки', 'стрелок', 'ак-47',
       'хаски', 'рыбалочка', 'бананоед', 'яблочки 2', 'банки2',
       'лопни шарик', 'калаши', 'банки 2', 'тир 3,4', 'тир 3', 'снайпер',
       'шутинг гелери 1,2', 'футбол', 'гидротир', 'жетон', 'качалки',
       'кубики win', 'тир 1,2', 'народный тир', 'дерби', 'кубики',
       'спайпер', 'пневмотический тир', 'комплексная', 'охотники 2'],
      dtype=object)

In [27]:

df['Цена товара'].value_counts()

200    85625
300    85617
600    85370
500    85118
400    85085
Name: Цена товара, dtype: int64

# Создание нового столбца
df['Тип игры'] = df['Название игры'].apply(lambda x: re.sub(r'\s*\(\d+\)', '', x))

# Вывод уникальных значений нового столбца
df['Тип игры'].unique()

In [28]:
dict_2 = {'банки2':'банки 2','спайпер':'снайпер','кубики win':'кубики'}

In [29]:
df['Тип игры'] = df['Название игры'].replace(dict_2)
df['Тип игры'].unique()

array(['баскетбол', 'горилла', 'lucky duck', 'русский покер',
       'охотники гоу', 'шутинг гелери 3,4', 'банки', 'охотники',
       'цвет шарики', 'lacky shark', 'тарелочки', 'тир 2', 'вбидонь',
       'лопни шарик 3', 'уточки', 'краски', 'золотая уточка',
       'лопни шарик 2', 'тир', 'пушки', 'яблочки', 'стрелок', 'ак-47',
       'хаски', 'рыбалочка', 'бананоед', 'яблочки 2', 'банки 2',
       'лопни шарик', 'калаши', 'тир 3,4', 'тир 3', 'снайпер',
       'шутинг гелери 1,2', 'футбол', 'гидротир', 'жетон', 'качалки',
       'кубики', 'тир 1,2', 'народный тир', 'дерби', 'пневмотический тир',
       'комплексная', 'охотники 2'], dtype=object)

In [30]:
df['Тип игры'].nunique()

45

Итого у нас осталось 45 типов игр

Добавим еще к таблице данные по геокоординатам городов

In [31]:
df_cities = pd.read_csv('ru_cities_points.csv',sep =';')

In [32]:
df_cities

,name,type,region,coords
0,Красный Сулин,город,Ростовская область,"[47.8815133907,40.0553169561]"
1,Сальск,город,Ростовская область,"[46.480396424,41.5374105563]"
2,Дигора,город,Республика Северная Осетия-Алания,"[43.1571481495,44.1545996296]"
3,Моздок,город,Республика Северная Осетия-Алания,"[43.7866865572,44.5958897793]"
4,Ардон,город,Республика Северная Осетия-Алания,"[43.1742767421,44.2909920696]"
...,...,...,...,...
1112,Кукмор,город,Республика Татарстан,"[56.185902671,50.8967028683]"
1113,Курчалой,город,Республика Чечня,"[43.2056205116,46.0909930997]"
1114,Севастополь,город,Севастополь,"[44.5933976415,33.5034170869]"
1115,Старый Крым,город,Республика Крым,"[45.0294992994,35.0888805739]"
1116,Циолковский,город,Амурская область,"[51.7671003873,128.122306266]"

In [33]:
df_new = pd.merge(df,df_cities, how='left',left_on=['Город'],right_on=['name'])

In [34]:
df_new

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город,Тип игры,name,type,region,coords
0,786924443,4432,2022-01-01 12:53:00,149,200,0.0,200.0,200,1,1,200,баскетбол,Аркада,Тир В Яблочко,К002 Тир В Яблочко,1,Приход,0.0,200.0,200,Используется,Тамбов,баскетбол,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
1,2551080634,4433,2022-01-01 12:54:00,149,300,0.0,300.0,300,1,1,300,горилла,Аркада,Тир В Яблочко,К002 Тир В Яблочко,2,Приход,0.0,300.0,300,Используется,Тамбов,горилла,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
2,3901128080,4434,2022-01-01 13:10:00,149,400,0.0,400.0,400,1,1,400,lucky duck,Беспроигрышный аттракцион,Тир В Яблочко,К002 Тир В Яблочко,3,Приход,0.0,400.0,400,Используется,Тамбов,lucky duck,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
3,3013564293,4435,2022-01-01 13:38:00,149,600,600.0,0.0,600,1,1,600,русский покер,Фасолевый Тир,Тир В Яблочко,К002 Тир В Яблочко,4,Приход,600.0,0.0,600,Используется,Тамбов,русский покер,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
4,2305593818,4436,2022-01-01 13:41:00,149,600,600.0,0.0,600,1,1,600,охотники гоу,Аркада,Тир В Яблочко,К002 Тир В Яблочко,5,Приход,600.0,0.0,600,Используется,Тамбов,охотники гоу,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426810,3947212597,15030,2023-09-11 00:01:00,123,500,500.0,0.0,500,1,1,500,банки2,Аркада,ПкиО Семейный,К001 ПкиО Семейный,142,Приход,500.0,0.0,500,Используется,Волгоград,банки 2,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426811,3575437487,15031,2023-09-11 00:03:00,123,300,0.0,300.0,300,1,1,300,"тир 3,4",Страйкбольный Тир,ПкиО Семейный,К001 ПкиО Семейный,143,Приход,0.0,300.0,300,Используется,Волгоград,"тир 3,4",Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426812,2972319335,15032,2023-09-11 00:05:00,123,600,0.0,600.0,600,1,1,600,цвет шарики,Аркада,ПкиО Семейный,К001 ПкиО Семейный,144,Приход,0.0,600.0,600,Используется,Волгоград,цвет шарики,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426813,703497372,15033,2023-09-11 00:08:00,123,300,300.0,0.0,300,1,1,300,хаски,Аркада,ПкиО Семейный,К001 ПкиО Семейный,145,Приход,300.0,0.0,300,Используется,Волгоград,хаски,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426814,1384721583,12804,2023-09-11 00:13:00,97,1000,1000.0,0.0,500,2,1,1000,жетон,Без группы,ПкиО Семейный,К003 ПкиО Семейный,234,Приход,1000.0,0.0,1000,Используется,Волгоград,жетон,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"

In [35]:
df_new.groupby('Город',as_index=False)['coords'].agg({'coords':'unique'}).reset_index(drop=True)

          Город                           coords
0         Анапа  [[44.8865639832,37.3100958359]]
1      Витязево                            [nan]
2     Волгоград   [[48.6232332203,44.395262585]]
3       Воронеж  [[51.6704416409,39.2267349593]]
4          Ейск  [[46.6942364841,38.2760857479]]
5     Краснодар  [[45.0638570738,39.0168838238]]
6        Липецк  [[52.6012671878,39.6098535265]]
7  Новороссийск  [[44.7265821759,37.7538034887]]
8      Таганрог   [[47.2386154654,38.882656945]]
9        Тамбов   [[52.728036309,41.4281718305]]

Витязево, Россия координаты в десятичном формате: широта — 44.9869042, долгота — 37.2580021.Добавим координаты в таблицу

In [36]:
df_new['coords']=df_new['coords'].fillna('[44.9869042,37.2580021]')

In [37]:
df_new.groupby('Город',as_index=False)['coords'].agg({'coords':'unique'}).reset_index(drop=True)

          Город                           coords
0         Анапа  [[44.8865639832,37.3100958359]]
1      Витязево        [[44.9869042,37.2580021]]
2     Волгоград   [[48.6232332203,44.395262585]]
3       Воронеж  [[51.6704416409,39.2267349593]]
4          Ейск  [[46.6942364841,38.2760857479]]
5     Краснодар  [[45.0638570738,39.0168838238]]
6        Липецк  [[52.6012671878,39.6098535265]]
7  Новороссийск  [[44.7265821759,37.7538034887]]
8      Таганрог   [[47.2386154654,38.882656945]]
9        Тамбов   [[52.728036309,41.4281718305]]

Выгрузим полученную таблицу для работы в Даталенс и проверим корректность выгрузки

In [38]:
df_new.to_csv('bolid_team.csv', index=False)

In [39]:
df_b = pd.read_csv('bolid_team.csv')

In [40]:
df_b

,ФП,Номер документа,Дата/время,Номер смены,Итого по чеку,Наличными по чеку,Электронными по чеку,Цена товара,Количество единиц измерения в чеке,Номер товара в чеке,Сумма товара,Название игры,Группа игры,Магазин,Имя кассы,Номер чека за смену,Признак расчета,Наличными,Электронными,Итого,Статус,Город,Тип игры,name,type,region,coords
0,786924443,4432,2022-01-01 12:53:00,149,200,0.0,200.0,200,1,1,200,баскетбол,Аркада,Тир В Яблочко,К002 Тир В Яблочко,1,Приход,0.0,200.0,200,Используется,Тамбов,баскетбол,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
1,2551080634,4433,2022-01-01 12:54:00,149,300,0.0,300.0,300,1,1,300,горилла,Аркада,Тир В Яблочко,К002 Тир В Яблочко,2,Приход,0.0,300.0,300,Используется,Тамбов,горилла,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
2,3901128080,4434,2022-01-01 13:10:00,149,400,0.0,400.0,400,1,1,400,lucky duck,Беспроигрышный аттракцион,Тир В Яблочко,К002 Тир В Яблочко,3,Приход,0.0,400.0,400,Используется,Тамбов,lucky duck,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
3,3013564293,4435,2022-01-01 13:38:00,149,600,600.0,0.0,600,1,1,600,русский покер,Фасолевый Тир,Тир В Яблочко,К002 Тир В Яблочко,4,Приход,600.0,0.0,600,Используется,Тамбов,русский покер,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
4,2305593818,4436,2022-01-01 13:41:00,149,600,600.0,0.0,600,1,1,600,охотники гоу,Аркада,Тир В Яблочко,К002 Тир В Яблочко,5,Приход,600.0,0.0,600,Используется,Тамбов,охотники гоу,Тамбов,город,Тамбовская область,"[52.728036309,41.4281718305]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426810,3947212597,15030,2023-09-11 00:01:00,123,500,500.0,0.0,500,1,1,500,банки2,Аркада,ПкиО Семейный,К001 ПкиО Семейный,142,Приход,500.0,0.0,500,Используется,Волгоград,банки 2,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426811,3575437487,15031,2023-09-11 00:03:00,123,300,0.0,300.0,300,1,1,300,"тир 3,4",Страйкбольный Тир,ПкиО Семейный,К001 ПкиО Семейный,143,Приход,0.0,300.0,300,Используется,Волгоград,"тир 3,4",Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426812,2972319335,15032,2023-09-11 00:05:00,123,600,0.0,600.0,600,1,1,600,цвет шарики,Аркада,ПкиО Семейный,К001 ПкиО Семейный,144,Приход,0.0,600.0,600,Используется,Волгоград,цвет шарики,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426813,703497372,15033,2023-09-11 00:08:00,123,300,300.0,0.0,300,1,1,300,хаски,Аркада,ПкиО Семейный,К001 ПкиО Семейный,145,Приход,300.0,0.0,300,Используется,Волгоград,хаски,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"
426814,1384721583,12804,2023-09-11 00:13:00,97,1000,1000.0,0.0,500,2,1,1000,жетон,Без группы,ПкиО Семейный,К003 ПкиО Семейный,234,Приход,1000.0,0.0,1000,Используется,Волгоград,жетон,Волгоград,город,Волгоградская область,"[48.6232332203,44.395262585]"

In [41]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426815 entries, 0 to 426814
Data columns (total 27 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   ФП                                  426815 non-null  int64
 1   Номер документа                     426815 non-null  int64
 2   Дата/время                          426815 non-null  object
 3   Номер смены                         426815 non-null  int64
 4   Итого по чеку                       426815 non-null  int64
 5   Наличными по чеку                   426815 non-null  float64
 6   Электронными по чеку                426815 non-null  float64
 7   Цена товара                         426815 non-null  int64
 8   Количество единиц измерения в чеке  426815 non-null  int64
 9   Номер товара в чеке                 426815 non-null  int64
 10  Сумма товара                        426815 non-null  int64
 11  Название игры                       426815 non-null  object
 12  Группа игры                         426815 non-null  object
 13  Магазин                             426815 non-null  object
 14  Имя кассы                           426815 non-null  object
 15  Номер чека за смену                 426815 non-null  int64
 16  Признак расчета                     426815 non-null  object
 17  Наличными                           426815 non-null  float64
 18  Электронными                        426815 non-null  float64
 19  Итого                               426815 non-null  int64
 20  Статус                              426815 non-null  object
 21  Город                               426815 non-null  object
 22  Тип игры                            426815 non-null  object
 23  name                                405485 non-null  object
 24  type                                405485 non-null  object
 25  region                              405485 non-null  object
 26  coords                              426815 non-null  object
dtypes: float64(4), int64(10), object(13)
memory usage: 87.9+ MB